@import url(https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto|Rock+Salt&display=swap);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: red;
	color: #565656;
	font-family: "Poppins", sans-serif;
	font-size: 18px; /*1em=18px*/
	line-height: 1.5;
	padding-top: 200px;

	
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Poppins", sans-serif;
	/*background-color: #FAD9D9;*/
	background-color: #FFED74;
	text-align: center;
	padding: 50px;
	position: fixed;
	width: 100%; 
	top: 0; 
	left: 0;
}


h1 {
	color:#565656;
	font-family: 'Rock Salt', cursive;
	font-size: 3em;
}

h2 {
	font-weight: 600;
	font-size: 2em;

}

h3 {
	color:#565656;
	font-family: 'Rock Salt', cursive;
	text-align: left;
	padding-bottom: .5em;
	font-size: 1em;

}

nav a{
	margin-right: 20px;
	text-transform: uppercase;	
	border: none;
	color: #ffffff;
	background-color: #E8C66A;
}

nav a:last-child{
	margin-right: 0;
}


#left {
	text-align: left;
	padding: 10px;
	letter-spacing: 2px;
}

.right {
	text-align: right;
	letter-spacing: 2px;

}

a { 
	text-decoration: none;
	color: #565656;
	 }

#email {
	border-bottom: 1px solid black;
	padding-bottom: 2px;
}

img {
	width: 100%;
	display: block;
  	margin-left: auto;
  }

hr {
	/*border: none;*/
	background-color: #565656;
	height: 1.5px;
	width: 100%;
	margin: 2em auto;
	border: 1px black solid;
    padding: 20px;
}

section {
	text-align: center;
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto; 
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}
  
ul {
    text-align: left;
    list-style-type: none;
}


article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

aside { 
	background-color: #FFC675; 
	border: 1px black solid;
    padding: 20px;
}


footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}



