
body {
	background-size: cover;
	background-color: #F0E9E9;
	color: #2B2D2F;
	font-family: Verdana, sans-serif;
	text-align: center;
	
}

header {
	background-color: #FAD9D9;
	text-align: center;
}


h1, h3 {
	color:#565656;
}

h3 {
	font-style: italic;
}

nav a{
	margin-right: 20px;
}

img {
	width: 65%;
	padding: 20px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }

  ul {
    text-align: center;
    list-style-type: none;